@model Medicare.Models.ViewModels.AppointmentCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add appointment</h2>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Doctor specializations
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table table-striped table-hover table-responsive">
                    <tbody>
                        <tr class="table-primary clickable-row" data-href='/appointment/create/'>
                            <td>Show all</td>
                            <td>Show all doctors with all specializations</td>
                        </tr>
                        @foreach (Medicare.Models.Specialization specialization in Model.Specializations)
                        {
                            <tr class="clickable-row" data-href='/appointment/create/@specialization.Id'>
                                <td>@specialization.Name</td>
                                <td>@specialization.Description</td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2>
            <button class="accordion-button collapsed bg-primary text-white" disabled>
                Select doctor
            </button>
        </h2>
        <div class="show">
            <div class="accordion-body">

                @if (Model.Doctors.Count == 0)
                {
                    <div class="alert alert-warning" role="alert">
                        Sorry! We have no doctors registered under this category for now,
                    </div>
                }
                else
                {
                    using (Html.BeginForm("Save", "Appointment"))
                    {
                        <div class="form-floating mb-3">
                            @Html.DropDownListFor(m => m.Appointment.DoctorId, new SelectList(Model.Doctors, "Id", "Name"), "Select doctor", new { @class = "form-select mb-3" })
                            @Html.LabelFor(m => m.Appointment.DoctorId)
                        </div>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(m => m.Appointment.DateTime, new { @class = "form-control mb-3", type = "date" })
                            @Html.LabelFor(m => m.Appointment.DateTime)
                        </div>
                        <div class="form-floating mb-3">
                            @Html.TextAreaFor(m => m.Appointment.Reason, new { @class = "form-control", placeholder = "Type your article here...", rows = "8", style = "height:100%" })
                            @Html.LabelFor(m => m.Appointment.Reason)
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
                    }
                }

            </div>
        </div>
    </div>
</div>




