@model Medicare.Models.ViewModels.AdminDoctorAuthViewModel
@{
    ViewBag.Title = "DoctorAuth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Authorize doctors</li>
    </ol>
</nav>

<form>
    <div class="input-group mb-3">
        <input type="text" name="search" class="form-control" placeholder="Doctor name or email" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
    </div>
</form>

@if (Model.Doctors.Count == 0)
{

    <div class="alert alert-warning" role="alert">
        No doctors requesting access yet!
    </div>
}
else
{

    <table class="table table-hover table-responsive table-striped align-middle">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Registration number</th>
                <th>Specialization</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (Medicare.Models.User doctor in Model.Doctors)
            {
                <tr>

                    @using (Html.BeginForm("authsave", "doctors"))
                    {
                        <input type="hidden" name="id" value="@doctor.Id" />
                        <td>
                            @doctor.Name
                        </td>
                        <td>
                            @doctor.Email
                        </td>
                        <td>
                            <div class="form-floating">
                                @Html.TextBoxFor(m => m.DoctorRegistration, new { @class = "form-control ", placeholder = "Registration number" })
                                @Html.LabelFor(m => m.DoctorRegistration)
                                @Html.ValidationMessageFor(m => m.DoctorRegistration)
                            </div>

                        </td>
                        <td>
                            <div class="form-floating">
                                @Html.DropDownListFor(m => m.SpecializationId, new SelectList(Model.Specializations, "Id", "Name"), "Select specialization", new { @class = "form-select" })
                                @Html.LabelFor(m => m.SpecializationId)
                                @Html.ValidationMessageFor(m => m.SpecializationId)
                            </div>
                        </td>
                        <td>
                            <button class="btn w-100 " type="submit">Save</button>
                        </td>
                    }


                </tr>
            }
        </tbody>
    </table>
}