<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="~/Content/Logos/FullLogo.png" height="48" />
        </a>

        <ul class="nav nav-pills ">

            @if (Medicare.Models.SessionHandler.IsUserSignedIn(Session))
            {
                <li class="nav-item mx-1">@Html.ActionLink("Dashboard", "", "dashboard", null, new { @class = "nav-link " + (ViewBag.Title == "Dashboard" ? "active" : null) })</li>
            }
            <li class="nav-item mx-1">@Html.ActionLink("Home", "", "", null, new { @class = "nav-link " + (ViewBag.Title == "Home" ? "active" : null) })</li>
            <li class="nav-item mx-1">@Html.ActionLink("Our services", "Services", "", null, new { @class = "nav-link " + (ViewBag.Title == "Services" ? "active" : null) })</li>
            <li class="nav-item mx-1">@Html.ActionLink("Articles", "", "Articles", null, new { @class = "nav-link " + (ViewBag.Title.Contains("Article") ? "active" : null) })</li>
            <li class="nav-item mx-1"><a href="#" class="nav-link">Gallery</a></li>
            <li class="nav-item mx-1"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item mx-1">@Html.ActionLink("About", "About", "", null, new { @class = "nav-link " + (ViewBag.Title.Contains("About") ? "active" : null) })</li>
            <li class="nav-item mx-1">
                @if (Medicare.Models.SessionHandler.IsUserSignedIn(Session))
                {
                    @Html.ActionLink("Sign out", "SignOut", "SignIn", null, new { @class = "btn btn-outline-primary" })
                }
                else
                {
                    @Html.ActionLink("Sign in", "", "SignIn", null, new { @class = "btn btn-outline-primary" })

                }
            </li>
        </ul>
    </header>
</div>


<!-- Modal -->