@model Medicare.Models.User
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container px-md-5 px-md-1">

    <div class="col-lg-6 mx-auto">

        <h2>View patient</h2>
        @if (Model == null)
        {
            <div class="alert alert-warning" role="alert">
                Patient not found
            </div>
        }
        else
        {

    <div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(u => u.Name, new { @class = "form-control ", placeholder = "Name", @readonly = "", disabled = "" })
            @Html.LabelFor(u => u.Name)
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control ", placeholder = "Email address", @readonly = "", disabled = "" })
            @Html.LabelFor(u => u.Email)
        </div>
        <div class="form-floating mb-3">
            @Html.TextAreaFor(u => u.Address, new { @class = "form-control ", placeholder = "Address", @readonly = "", disabled = "" })
            @Html.LabelFor(u => u.Address)
        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(u => u.Gender, new { @class = "form-control ", placeholder = "Email address", @readonly = "", disabled = "" })
            @Html.LabelFor(u => u.Gender)
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="specialization" placeholder="Specialization" readonly disabled value='@(Model.BloodType==null?"N/A":string.Format("{0} {1}", Model.BloodType.Name,Model.BloodType.IsRhPositive?"+":"-"))'>
            <label for="specialization">Blood type</label>
        </div>

        @if (Medicare.Models.SessionHandler.IsUserAdmin(Session))
        {

            @Html.ActionLink("Edit", "AdminEdit", "Patients", new { id = Model.Id }, new { @class = "btn btn-lg w-100 btn-primary mb-2" })
            <button class="btn btn-danger button-confirm btn-lg w-100" data-title="Confirm delete" data-body="Are you sure you want to delete?" data-href="\doctors\delete\@Model.Id">Delete</button>

        }
        else if (Medicare.Models.SessionHandler.GetUserId(Session) == Model.Id)
        {
            @Html.ActionLink("Edit", "Edit", "Doctors", new { id = Model.Id }, new { @class = "btn btn-lg w-100 btn-primary mb-2" })

        }

    </div>


        }
    </div>
</div>